body {
    font-family: Helvetica;
    margin: 0;
}

ul.animated-list {
    position: relative;
    /* top: 200px; left: 200px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: -65px;
    top: 5px;
}
li.animated {
    position: absolute;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: all 2s linear;
    /* width: 100px;
    height: 100px; */
    text-align: center;
    font-size: 1rem;
    /* border: 1px solid black; */
}

li.animated div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    padding: 10px;
    /* border: 1px solid black; */
    /* margin-bottom: 20px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 10px;
    z-index: 1; */
}

li.animated div:hover {
    z-index: 1000;
    margin-bottom: 20px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 10px;
    /* z-index: 1; */
}

.projects li.animated div:hover {
    background:#f7fafe;
}

.projects #description {
    background:#f7fafe;
}

.projects #name-div {
    background:#f7fafe;
}

.research li.animated div:hover {
    background: #fffafb;
}

.research #description {
    background:#fffafb;
}

.research #name-div {
    background:#fffafb;
}

.elements li.animated div:hover {
    background:#fffaf2;
}

.elements #description {
    background:#fffaf2;
}

.elements #name-div {
    background:#fffaf2;
}

.elements li {
    font-size: 1.25rem;
}

.research li {
    font-size: 1.25rem;
}

li.animated:hover {
    z-index: 1000;
}

#container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#desktop li#name #name-div {
    /* background:#f7fafe; */
    font-size: 2rem;
    margin-bottom: -20%;
    background: none;
    margin-top: -20px;
}

#desktop p {
    width: 100%;
}

li#name {
}

#desktop #description {
    background: none;
    font-size: .7rem;
    width: 300px;
    margin-left: -25%;
    display: block;
}

#desktop .elements #description {
    margin-top: -40px;
}

#mobile #description {
    display: block;
    font-size: .75rem;
    padding: 10px 25px 10px 25px;
    margin: 0;
}

#outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    #desktop {
        display: none;
    }
}


@media (min-width: 991px) {
    #mobile {
        display: none;
    }
}

#mobile {
    margin-top: 25px;
}

#mobile ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#mobile li {
    margin: 20px;
}

#mobile #name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile #name #name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
}